body,html{
height: 100%;
margin: 0;
color: #777;

}
.secone{
background-image: url('modelo1.jpg');
min-height: 40%;
}

.sectwo{
background-image: url('modelo2.jpg');
min-height: 100%;

}
.secone, .sectwo, .secthre{
opacity: 0.8;
position: relative;
background-position: center;
background-size: cover;
background-attachment: fixed;



}

.mensaje{

position: absolute;
left: 0;
/*el top es para darle la pocicion y la altura 	*/
top: 10%;
width: 100%;
text-align: center;
color: blue;


}
.mensajedos{

position: absolute;
left: 0;

/*el top es para darle la pocicion y la altura 	*/
top: 50%;
width: 100%;
text-align: center;

}
.mensaje span.border{
background-color: #0e5cbc;
color: white;
padding: 15px;
font-size: 22px;
border-radius: 8px;

}


.miboton{
width: 20%;
height: 80%;
border: 2px solid red;
border-radius: 5px;
background-color: green;
color: white;



}