	body {
		font-size: 20px;
		
	}
	.divuno{
		width: 100%;
		heigt: 800px;
		border: 3px solid BLUE;
		border-radius: 3px;
		font-family: 'Oswald', sans-serif;
		font-family: 'Anton', sans-serif;
	}
	.divdos{
		width: 100%;
		heigt: 800px;
		border: 5px solid blue;
		border-radius: 3px;
	}
#navlist { width: 100%; padding: 3px 0px;
border-bottom: 1px solid #778;
font: bold 14px Verdana, sans-serif; }

#navlist li { list-style: none; display: inline; margin-left:10px;}

#navlist li a { width: 100%; padding: 3px 1em;
border: 1px solid #778; border-bottom: none;
background: #DDE; text-decoration: none; }

#navlist li a:link { color: BLUE; }
#navlist li a:hover {color: #000; background: #AAE; border-color: #227; }
#navlist li a#current { background: #AAE; }







